/* html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    position: fixed;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer {
    width: 100%;
    height: 50px;
    background-color: rgba(128, 128, 128);
    position: fixed;
    bottom: 0;
}
.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    justify-content: space-between;
    width: 100%;
    color: white;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.social {
    right: 50px;
}

.social-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    list-style-type: none; 
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 15px;
    margin-left: 15px;
    margin-right: 10px;

    box-sizing: border-box;
    color: white;
    cursor: pointer;
} */